<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="d1d5c75f-2631-42a2-9697-b62bf3751298" Version="1.0.0.0" Publisher="CN=FrancisAngelino" />
  <Properties>
    <DisplayName>Pomodoro_FGT</DisplayName>
    <PublisherDisplayName>FrancisAngelino</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Pomodoro_FGT" Logo="images\150.png" SmallLogo="images\30.png" Description="Pomodoro_FGT" ForegroundText="light" BackgroundColor="#FFFFFF">
        <DefaultTile ShowName="allLogos" WideLogo="images\310.png" ShortName="Pomodoro" />
        <SplashScreen Image="images\610.png" BackgroundColor="#FFFFFF" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>